@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');


body {
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
}


.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0;
    padding-bottom: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {

    display: flex;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    max-width: 1500px;
    gap: 50px
}

.hero-container-text {
    max-width: 750px;
}

#t1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#t2 {
    font-size: 18px;
    color: #E5E7EB;
}

#b1 {
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 40px;
}

.top-img {
    max-width: 400px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 75px;
}

.info-heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px 0px;
}
.info-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    row-gap: 25px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.info-img {
    max-width: 250px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.info-text {
    max-width: 190px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    padding: 75px;
}

.quote-text {
    justify-content: center;
    flex: initial;
    padding: 5px;
    max-width: 800px;
}

.quote-main {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-quote {
    font-weight: 900;
    text-align: end;
}

.cta-container {
    display: flex;
    justify-content: center;
    flex: 0.5 1 0;
    padding: 25px;
}

.cta-box {
    display: flex;
    padding: 30px 50px;
    margin: 50px;
    background-color: #3882f6;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 0;
    color: #F9FAF8;
}

#t3 {
    font-weight: 900;
    font-size: 20px;
}

#b2 {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 5px 20px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.footer-text {
    color: #F9FAF8;
    font-style: italic;
}